*{
 text-align: center;
 align-items: center;
}

body{
    margin-top: 200px;
    background-image: linear-gradient(to right, rgb(44, 39, 39), rgb(109, 26, 26));
}
p{
    font-size: 20px;
}
.btn{
    border-radius: 12px;
    background-color: rgb(253, 253, 253);
}
.btn:hover{
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: white;
}
h2,p,span{
    color: white;
}